<div class="contact-content">
    <div class="pc-screen">
        <div class="pc-display">
            <div class="form-content">
                <h2 class="mb-4">
                    {{'contact.title' | translate}}
                </h2>
                <form class="d-flex justify-content-between flex-column">
                    <div class="fields">
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [placeholder]="'contact.nameField' | translate">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [placeholder]="'contact.emailField' | translate">
                          </div>
                        <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [placeholder]="'contact.messageField' | translate"></textarea>
                          </div>
                    </div>
                    <button type="submit" class="btn btn-primary">{{'contact.submit' | translate}}</button>
                </form>
            </div>
        </div>
    </div>
    <div class="pc-base-1">
    </div>
    <div class="pc-base-2">
    </div>
</div>
