<div class="contact-content">
    <div class="pc-screen">
        <div class="pc-display">
            <div class="display-content">
                <div class="window-nav d-flex justify-content-between">
                    <div class="nav-left-options d-flex">
                        <div class="nav-circles d-flex">
                            <div class="red"></div>
                            <div class="yellow"></div>
                            <div class="green"></div>
                        </div>
                        <div class="nav-arrows">
                            <img src="../../../assets/svg/left-arrow.svg" alt="Left arrow">
                            <img src="../../../assets/svg/right-arrow.svg" alt="Right arrow">
                        </div>
                        <img src="../../../assets/svg/grid.svg" alt="Grid" width="14px">
                    </div>
                    <div class="nav-url">
                        boscolaura.com
                        <img src="../../../assets/svg/padlock.svg" alt="Dots" width="14px">
                    </div>
                    <img src="../../../assets/svg/plus.svg" alt="Plus" width="16px">
                </div>
                <form class="window-content d-flex justify-content-between flex-column align-items-center"
                    [formGroup]="formData" (ngSubmit)="onSubmit(formData.value)" #formDir="ngForm">
                    <h3>{{'contact.title' | translate}}</h3>
                    <div class="fields">
                        <div class="form-group">
                            <input type="text" class="form-control" id="inputName" [placeholder]="'contact.nameField' | translate"
                                name="name" formControlName="name"
                                [ngClass]="{'is-invalid': formData.get('name').errors && formDir.submitted}">
                            <img class="input-tooltip" *ngIf="formData.get('name').errors && formDir.submitted"
                                src="../../../assets/svg/error.svg" alt="Error">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="inputEmail" [placeholder]="'contact.emailField' | translate"
                                name="email" formControlName="email"
                                [ngClass]="{'is-invalid': formData.get('email').errors && formDir.submitted}">
                                <img class="input-tooltip" *ngIf="formData.get('email').errors && formDir.submitted"
                                    src="../../../assets/svg/error.svg" alt="Error">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="inputMessage" rows="3" [placeholder]="'contact.messageField' | translate"
                                name="message" formControlName="message"
                                [ngClass]="{'is-invalid': formData.get('message').errors && formDir.submitted}"></textarea>
                                <img class="input-tooltip" *ngIf="formData.get('message').errors && formDir.submitted"
                                    src="../../../assets/svg/error.svg" alt="Error">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">{{'contact.submit' | translate}}</button>
                </form>
            </div>
        </div>
    </div>
    <div class="pc-base-1">
    </div>
    <div class="pc-base-2">
    </div>
</div>
