.contact-content {
    padding: 100px 5%;

    .pc-screen {
        background-color: #3d3b39;
        border-radius: 40px;
        position: relative;
        box-sizing: border-box;
        padding: 35%;
    
        .pc-display {
            background-color: #f9f9f9;
            height: calc(100% - 40px);
            width: calc(100% - 40px);
            left: 20px;
            top: 20px;
            position: absolute;
            border-radius: 20px;
            cursor: url('../../../assets/svg/cursor.svg'), auto;
            overflow: auto;

            .display-content {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 25px;
            }

            .fields {
                width: 100%;
            }

            .btn-primary {
                cursor: url('../../../assets/svg/cursor.svg'), auto;
            }
        }
    }

    .pc-base-1 {
        height: 70px;
        background-color: #3d3b39;
        width: 120px;
        margin: auto;
    }

    .pc-base-2 {
        height: 60px;
        background-color: #3d3b39;
        width: 270px;
        margin: auto;
        border-radius: 20px;
    }
}