<nav class="navbar navbar-expand-lg" #header>
    <!-- BRAND -->
    <a class="navbar-brand" href="#">
      <div class="logo"></div>
    </a>

    <!-- COLLAPSED BUTTON -->
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  
    <!-- SECTIONS -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link overwritten-link" href="#">{{'header.work' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link overwritten-link" href="#">{{'header.about' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link overwritten-link" href="#contact">{{'header.contact' | translate}}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{currentLang}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="overwritten-link dropdown-item" (click)="useLanguage(lang)" *ngFor="let lang of languages">
              {{lang}}
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>