html, body {
    font-family: Outfit;
}

a,
.nav-link {
    &,
    &:hover,
    &:focus {
        color: black;
        text-transform: uppercase;
        font-size: 20px;
    }
}

.form-control {
    border-radius: 22px;
    margin-bottom: 15px;
    padding: 12px;
    cursor: url('../src/assets/svg/text-cursor.svg'), auto;

    &:focus {
        border-color: #e784c4;
        box-shadow: 0 0 0 0.25rem rgba(253, 13, 105, 0.25);
    }
}

textarea {
    resize: none;
}

.btn-primary {
    width: fit-content;
    border-radius: 35px;
    background-color: #e784c4;
    border-color: #e784c4;
    padding: 10px 35px;
    transition: all 0.2s;
    
    &:hover,
    &:active,
    &:focus {
        background-color: #dd4daa;
        border-color: #dd4daa;
    }

    &:hover,
    &:active {
        transform: scale(1.1,1.1);
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(253, 13, 105, 0.25);
    }
}

// FONTS
@font-face {
    font-family: "Outfit";
    src: local("Outfit"), url(./assets/fonts/Outfit-VariableFont_wght.ttf) format("truetype");
}