html, body {
    font-family: Outfit;
}

a,
a.nav-link {
    &,
    &:hover,
    &:focus {
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
    }
}

.form-group {
    position: relative;

    .form-control {
        border-radius: 22px;
        margin-bottom: 15px;
        padding: 12px;
        cursor: url('../src/assets/svg/text-cursor.svg'), auto;

        &.is-invalid {
            background-image: none;
        }
        
        &:focus {
            border-color: #e784c4;
            box-shadow: 0 0 0 0.25rem rgba(253, 13, 105, 0.25);
        }
    }

    textarea.form-control {
        resize: none;
    }

    .error-icon-container {
        position: absolute;
        top: 13px;
        right: 11px;
        line-height: 0;
        padding: 5px;

        .error-icon {
            width: 15px;
            height: 15px;
        }
    }

    .customTooltip {
        .tooltip-arrow.arrow::before {
            border-top-color: #dc3545;
        }

        .tooltip-inner {
            background-color: #dc3545;
        }
    } 
}

button.btn-primary {
    width: fit-content;
    border-radius: 35px;
    background-color: #e784c4;
    border-color: #e784c4;
    padding: 10px 35px;
    transition: all 0.2s;
    
    &:hover,
    &:active,
    &:focus {
        background-color: #dd4daa;
        border-color: #dd4daa;
    }

    &:hover,
    &:active {
        transform: scale(1.1,1.1);
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(253, 13, 105, 0.25);
    }
}

// FONTS
@font-face {
    font-family: "Outfit";
    src: local("Outfit"), url(./assets/fonts/Outfit-VariableFont_wght.ttf) format("truetype");
}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
