html, body {
    font-family: Outfit;
}

a,
.nav-link,
a:hover,
.nav-link:hover {
    color: black;
    text-transform: uppercase;
    font-size: 20px;
}

// FONTS
@font-face {
    font-family: "Outfit";
    src: local("Outfit"), url(./assets/fonts/Outfit-VariableFont_wght.ttf) format("truetype");
}