/* -------- SPLASH SCREEN -------- */
.intro {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    .logo {
        position: relative;
        display: inline-block;
        bottom: -20px;
        opacity: 0;

        &:first-child {
            left: -2px;
        }

        img {
            width: 100px;
            position: absolute;
        }

        &.active {
            bottom: 0;
            opacity: 1;
            transition: ease-in-out 0.5s;
        }

        &.fade {
            bottom: 150;
            opacity: 0;
            transition: ease-in-out 0.5s;
        }
    }
}

/* -------- NOISY BACKGROUND -------- */
.noisy {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/img/noise.gif);
    background-size: 100px 100px;
    opacity: .24;
}

/* -------- HOME CONTENT -------- */
.web-content .home-content {
    color: #fff;
    height: 118vh;
    background-color: #1d1d1d;
    padding: 0px 20%;
    clip-path: polygon(0 0%, 100% 0, 100% 85%, 0 100%);
}
