<div class="intro" #intro>
    <h1 class="logo-header" #logoHeader>
        <span class="logo" #logo>
            <img src="../../../assets/img/black-logo-l.png" alt="black-logo1">
        </span>
        <span class="logo" #logo>
            <img src="../../../assets/img/black-logo-b.png" alt="black-logo2">
        </span>
    </h1>
</div>
<div class="dashboard">
    <div class="noisy"></div>
    <app-header></app-header>
    <div class="web-content">
        <div class="home-content">
        </div>
        <div id="contact">
            <app-contact></app-contact>
        </div>
    </div>
</div>