.noisy {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/img/noise.gif);
    background-size: 100px 100px;
    opacity: .24;
}

.web-content {
    padding: 0px 20%;
}
